.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
.env
share
sounds
results
setup.cfg
dist
build
src/whisper_run.egg-info
test2
src/whisper_run/cli.pyvenv
__pycache__